<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new product</title>
</head>
<body>
<div th:insert="navigateBar/bar :: navBar"></div>
<form th:method="POST" th:action="@{/product}" th:object="${product}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <label for="price">Enter price: </label>
    <input type="number" min="1" step="any" th:field="*{price}" id="price"/>
    <label for="description">Enter description: </label>
    <input type="text" th:field="*{description}" id="description"/>
    <label class="form-label">Type : </label>
    <select th:field="*{id}">
        <option th:each="type : ${types}"
                th:text="${type.getName()}"
                th:value="${type.id}"
        >
        </option>
    </select>
    <br/>
    <input type="submit" value="Create"/>
</form>
<button onclick="location.href='/user'">back</button>

</body>
</html>