<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new status</title>
</head>
<body>
    <div th:insert="mainPage/mainPage :: navBar"></div>
    <form th:method="POST" th:action="@{/status}" th:object="${status}" >
        <label for="name">Enter name: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <label for="discount">Enter discount: </label>
        <input type="number" th:field="*{discount}" id="discount"/>

        <br/>
        <input type="submit" value="Create!"/>
    </form>
    <button onclick="location.href='/status'">back</button>
</body>
</html>