<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Roles</title>
</head>
<body>
    <div th:insert="mainPage/mainPage :: navBar"></div>
    <div th:switch="${roles}">
        <h2 th:case="null">No roles found!</h2>
        <div th:case="*">
            <h2>Roles</h2>
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="role : ${roles}">
                    <td th:text="${role.id}"></td>
                    <td th:text="${role.name}"></td>
                    <td><form method="GET" th:action="@{role/edit/{id}(id=${role.id})}">
                        <button type="submit" name="submit" value="value" class="link-button">Edit</button>
                    </form></td>
                    <td><form method="GET" th:action="@{role/delete/{id}(id=${role.id})}">
                        <button type="submit" name="submit" value="value" class="link-button">Delete</button>
                    </form></td>
                </tr>
                </tbody>
            </table>
        </div>
        <button onclick="location.href='/role/new'">create role</button>
    </div>
    <button onclick="location.href='/'">back</button>
</body>
</html>