<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
<div th:fragment="navBar">
    <button onclick="location.href='/'">main</button>
    <button onclick="location.href='/user'">user</button>
    <button onclick="location.href='/role'">role</button>
    <button onclick="location.href='/status'">status</button>
    <button onclick="location.href='/type'">type</button>
    <button onclick="location.href='/product'">product</button>
</div>
</body>
</html>