<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new user</title>
</head>
<body>
    <div th:insert="mainPage/mainPage :: navBar"></div>
    <form th:method="POST" th:action="@{/user}" th:object="${user}" >
        <label for="userName">Enter name: </label>
        <input type="text" th:field="*{userName}" id="userName"/>
        <label for="phone">Enter phone: </label>
        <input type="text" th:field="*{phone}" id="phone"/>
        <label for="dateOfBirth">Enter date: </label>
        <input type="date" th:field="*{dateOfBirth}" id="dateOfBirth"/>
        <label for="password">Enter password: </label>
        <input type="text" th:field="*{password}" id="password"/>
        <label class="form-label">Role : </label>
        <select th:field="*{id}" >
            <option th:each="role : ${roles}"
                    th:text="${role.getName()}"
                    th:value="${role.id}"
            >
            </option>
        </select>

        <br/>
        <input type="submit" value="Create!"/>
    </form>
    <button onclick="location.href='/user'">back</button>
</body>
</html>