<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="navigateBar/bar :: navBar"></div>
<form th:method="POST" th:action="@{/productSet/save/}" th:object="${productSet}">
    <label for="amount">Enter amount: </label>
    <input type="number" min="1" step="any" th:field="*{amount}" id="amount"/>
    <br/>
    <input type="submit" value="Add to order"/>
</form>
<button onclick="location.href='/menu'">back</button>
</body>
</html>